.backgroundColor{
    background-color: #303133;
    height: 100vh;
}

.logo{
    height: 8vmin;
}

.whiteFont{
    color: #FFFFFF;
    font-size: 13px;
}

.ButtonStyle{
    background-color: #1B78D1;
    font-weight: 600;
    width:100px;
}

.inputWidth{
    width: 300px;;
}