.navBG{
    background-color:#262729 ;
}

.whiteFont{
    color: #FFFFFF;
    font-size: 15px;
}

.logo{
    height: 10vmin;
}

.katasReserved{
    background-color: #262729;
    border-color: #707070;
    border-top: transparent;
    
}

.reserveButton{
    height: 30px;
}