.navBG{
    background-color:#262729 ;
}

.whiteFont{
    color: #FFFFFF;
    font-size: 15px;
}
.whiteFont2{
    color: #FFFFFF;
    font-size: 20px;
}

.logo{
    height: 10vmin;
}

.katasReserved{
    background-color: #262729;
    border-color: #707070;
    border-top: transparent;
    
}

.reserveButton{
    width: 150px;
}

.katasErrorMsg{
    background-color: #FFFFFF;
    border-color: #707070;
    border-top: transparent;
}